page-home {
    .home-content {
        background: #56CA96;

        .logo {
            font-size: 9.8vw;
            width: 100%;
            font-weight: bolder;
            color: aliceblue;
            letter-spacing: -3px;
            text-align: center;
            padding-top: 30px;
        }
        .item .item-content {
            background-color: #56CA96;
            //background-color: transparent !important;
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
        //.title {
            //font-size: 9.8vw;
            //width: 100%;
            //font-weight: bolder;
            //color: aliceblue;
            //letter-spacing: -3px;
            //text-align: center;
        //}
        //.item-avatar  {
            //width:100% !important;
            //height : 100% !important;
            //max-width: 100px !important;  //any size
            //max-height: 100px !important; //any size
        //}
        ion-avatar img {
            width: 50px !important;
            height: 50px !important;
            border-radius: 50%;
            text-align: right;
        }
    }
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

p {
    text-align: center;
}
